/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cards {
  width: 70%;
  margin: auto;
  .card {
    width: 80%;
    margin: 20px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.dropdown {
  width: 40%;
}

li {
  list-style-type: none;
}

.showDialog {
  display: initial;
}

.hideDialog {
  display: none;
}

.title {
  margin: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 500;
}

.green-snack {
  background-color: #4bb543;
  color: white;
}
.red-snack {
  background-color: #d0342c;
  color: white;
}
