<form class="form" [formGroup]="jobForm">
  <mat-label class="title">Post a job</mat-label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="header" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Job type</mat-label>
    <select matNativeControl #jobTypesDropdown formControlName="jobType">
      <option [ngValue]="jobType.id" *ngFor="let jobType of jobTypes">
        {{ jobType.name }}
      </option>
    </select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Job category</mat-label>
    <select matNativeControl #jobCatsDropdown formControlName="jobCategory">
      <option [ngValue]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>
  </mat-form-field>
  <div class="buttons">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      (click)="submit()"
      *ngIf="!isEdit"
    >
      Post
    </button>
    <button
      mat-raised-button
      color="primary"
      [mat-dialog-close]="true"
      (click)="submit()"
      *ngIf="isEdit"
    >
      Save
    </button>
  </div>
</form>
